<div class="row">
	<div class="col-sm-4 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">80</div>
				<div class="comment">Auteurs</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-sm-4 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">16</div>
				<div class="comment">Révélations</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-sm-4 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">225</div>
				<div class="comment">Tags</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row" style="padding-right:15px;padding-left:15px;">
	<div class="col-xs-12 revelation">
		<a class="close"><i class="fa fa-times"></i></a>
		<div>
			Coucou je suis une révélation vraimtn trèèèèès longuetrèèèèès longuetrèèèèès longuetrèèèèès longuetrèèèèès longuetrèèèèès longuetrèèèèès longuetrèèèèès longuetrèèèèès longuetrèèèèès longuetrèèèèès longue
			<span class="author">- <i class="fa fa-user"></i> JY <a href="">(voir le profil)</a></span>
		</div>
		<br>
		<div>
			<span class="tag">#bla</span><span class="tag">#bla</span><span class="tag">#bla</span>
		</div>
		<br>
		<div>
			<span class="score">Score : <span class="positive">107</span></span>
			&nbsp;&nbsp;
			<a style="cursor:pointer"><i class="fa fa-thumbs-o-up fa-2x"></i></a>
			&nbsp;&nbsp;
			<a style="cursor:pointer"><i class="fa fa-thumbs-o-down fa-2x"></i></a>
		</div>
	</div>
</div>