.revelation {
	padding:20px;
	background-color:white;
	border: 1px solid #e9e9e9;
	border-radius:2px;
}

.revelation .close {
	cursor:pointer;float:right;margin-top:-12px;margin-right:-10px;
}

.tag {
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#337ab7;
	color:white;
	margin-right:10px;
	border-radius:10000px;
	cursor:pointer;
}

.tag a {
  	text-decoration: none;
  	color: inherit;
}

.revelation .author {
	color:lightgrey;
}

.revelation .score {
	font-size:20px;
}

.revelation .score .positive {
	color: #23ae89;
}

.revelation .score .negative {
	color: #ae2323;
}

.fa.like {
	color: #23ae89;
}

.fa.dislike {
	color: #ae2323;
}
#slider12a .slider-track-high {
	background: red;
	cursor:default;
}

#slider12a .slider-selection {
	background: green;
	cursor:default;
}

#slider12a .slider-handle {
	display:none;
	cursor:default;
}

.header-search {
	height:60%;margin-top:11px;
    padding-left:5px;border:1px lightgrey solid;

}